body {
    margin: 0;
    margin-bottom: 20px;
    height:100%;
    background-color: #c9847f;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: monospace;
}

h1 {
    text-align: center;
    text-decoration: underline;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h2 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

 div .radioinput {
    margin: 0;
    display:inline-flex;
    justify-content:center;
/* (0,1,1) */
}

div #radiobutton {
    margin-left: 43%;
   /* (1,0,1) */
}
div {
    margin:0%;
    margin-top: 10px;
    margin-bottom: 5px;
    padding-left: 0;
    padding-right: 15px;
    display: inline-flex;
    text-align: center;

}

section {
    margin-top: 10px;
    display: flex;
    justify-content: center;

}
label {
    width: 100px;
    display: inline-block;
    align-content: center;
    justify-items: center;
    text-align: ;


}

footer #reg {

        margin-left: 43%;
        justify-content:center;
        align-content: center;
        text-align:center;
/* (1,0,1) */
}
